.one{
    background-image:40% ;
    /* height: 40vh;
    width: 50%; */
}
.two{
    height: 50vh;
    width: 50%;
}
/* .container{
    height: 40px;
    width: 30%;
    margin-left: 500px;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: aquamarine;
} */
.future{
    height: 20vh;
    width: 30%;

}